/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
	display: block;
	width: 100%;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	color: #ba8748;
}

.header-inner {
	width: 100%;
}

.link {
	float: right;
}

body {
	font-size: 100%;
	font: inherit;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #ba8748;
}

.div {
	display: block;
}

.unit4 {
	width: 510px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.topper {
	height: 152px;
	letter-spacing: 0.5em;
}

p.title {
	margin-top: 40px;
}

nav a {
	display: inline-block;
	padding-right: 45px;
	padding-left: 65px;
	color: #ba8748;
	letter-spacing: 0.2em;
}

nav li {
	display: inline-block;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: inline;
}

.piece {
	width: 3000px;
}

.info {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 86%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.map{
	text-decoration: none;
	color: #ba8748;
	font-weight: 100;
}

.title {
	font-size: 130%;
}

footer {
	bottom: 15px;
	right: 20px;
	max-width: 200px;
	padding-bottom: 10px;
	padding-left: 5px;
	position: fixed;
	font-size: 60%;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ba8748;
}

.line{
	border-top: 2px solid #ba8748;
	border-bottom: 2px solid #ba8748;
	margin-bottom: 5px;
	font-size: 22px;
}

a{
	text-decoration: none;
	color: #ba8748;
}

:focus {
	outline: #FFF dotted 2px;
	background-color: #000;
}

h2{
	margin-top: 5px;
	font-size: 150%;
	color:  #c69453;
}

.price {
	margin-bottom: 10px;
}
.menus {
	background-image: url('../img/final.jpg');
	background-repeat: no-repeat; 
	background-size: 100% 100%;
}

.manuname {
	background-color: rgba(0, 0, 0, 0.3);
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 50px;
	color: #FFF;
}

.about {
	background-color: #c69453;
	color: #FFF;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-bottom: 20px;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.last {
	margin-bottom: 40px;
}

@media (max-width: 767px) {
	 p {
    	font-size: 80%;
    }

    .logo {
    	display: none;
    }

    footer {
    	display: none;
    }

}

@media (max-width: 400px) {
    .info {
    	text-align: left;
    }

    .title {
    	text-align: left;
    }
}